* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

p {
    font-size: 14px;
    font-weight: lighter;
}

header {
    background-color: #063547;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: inline-block;
}

nav ul li {
    display: inline;
    padding: 10px;
    font-size: 1em;
}

.search input {
    padding: 10px;
    border-radius: 17px;
    border: none;
    outline: none;

}

.search {
    position: relative;
}

.search-icon {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: #47B99E;
    border-radius: 30%;
    width: 29px;
    height: 29px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    background-color: #F5F6F9;
    padding: 40px;
}

.description-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.description h2 {
    color: #47B99E;
    font-size: 1.2em;
}

.description h3 {
    width: 400px;
    font-size: 3em;
    padding-top: 20px;
    font-weight: 300;

}

.pt {
    padding-top: 20px;
    line-height: 25px;
}


.containerr,
.about-desc {
    width: 40%;
}

.container-img img {
    width: 500px;
}

button {
    color: white;
    background-color: #47B99E;
    padding: 15px 35px;
    border: unset;
    border-radius: 25px;
    font-size: 18px;
    margin: 22px 0px;
}


.categorie {
    width: 80%;
    margin: 100px auto;

}

.text-center {
    text-align: center;
}

.categorie h2 {
    font-size: 2em;
}

.items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-items: flex-start;
}

.img-container {
    background-color: #F5F6F9;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
}

.item-img {
    position: absolute;
    top: 27%;
    left: 30%;

}

.item-img img {
    width: 50px;
}

.about {
    background-color: #F5F6F9;
}

.about-container {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-container img {
    width: 500px;
}

.testimonies {
    margin-top: 100px;
}

.testimony {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
    padding: 20px;

}

.client {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}

.client-says {
    background-color: #063547;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.client-img {

    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}

.client-img img {
    width: 130px;
    border-radius: 50%;
}

.client-img h3 {
    font-weight: lighter;
}

.blog {
    margin-top: 100px;
    background-color: #F5F6F9;
    padding: 30px;

}

.blog-container {
    display: flex;
    justify-content: center;
    height: 120vh;
    align-items: center;

}

.bg {
    width: 450px;
    height: 95vh;
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(180, 178, 178);

}

.pd {
    padding: 30px;
    line-height: 2;
    position: relative;

}

.btn {
    position: absolute;
    top: -50px;
}

.btn button {
    background-color: #063547;
    color: white;
    border: 2px solid white;
    border-radius: 34px;
}

.bg img {
    width: 450px;
    padding: 0 !important;
}

a {
    text-decoration: none;
    color: #47B99E;
}

.form {
    width: 40%;
}

input[type=text],
input[type=email],
textarea,
.form button {
    box-sizing: border-box;
    display: block;
    padding: 15px;
    width: 400px;
    margin-top: 30px;
    border-radius: 35px;
    resize: none;
    background-color: #F5F6F9;
    border: none;
    outline: none;
}

.form button {
    background-color: #47B99E;

}

.contact-img {
    width: 40%;
}

.contact-img img {
    max-width: 450px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #063547;
    display: flex;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    justify-content: space-around;
}

footer input,
footer button {
    width: 250px !important;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #47B99E;
}

footer ul {
    list-style-type: none;
}

.footer-item {
    width: 20%;
}

iframe {
    width: 250px;
    height: 200px;
}